<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stk.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Chat with Assistant</div>
        <div class="chat-messages" id="chat">
        </div>
        <div class="chat-input-container">
            <input type="text" id="user_input" placeholder="Type a message...">
            <button id="send_button" onclick="sendMessage()">
                <span id="send_icon">➤</span>
            </button>
        </div>
    </div>

    <script src="scripts\script.js" defer></script>   
</body>
</html>
